<h1> Rock Paper Scissors Game! </h1>

<form action="/rock_paper_scissors">
  <select name="player" id="player" class="form-control">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <button class="btn" type= "submit">Submit</button>
</form>
